body {
    i {
        &[class*="trash-0"] {
            color: red;
        }
        &[class*="check"] {
            color: green;
        }
        &[class*="square-o"] {
            color: blue;
        }
    }
}
