body {
    i {
        &[class*="trash-o"] {
            color: red;
        }
        &[class*="con-check"] {
            color: pink;
        }
        &[class*="icon-square-o"] {
            color: blue;
        }
    }
}
